trunk/snookr/ObserveFiles/xml-resources/web-service-references/SnookrWS/wsdl/localhost_8084/SnookrWebApp/SnookrWS.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.1-b02-RC1. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.1-b02-RC1. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.snookr.net/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.snookr.net/" name="SnookrWSService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.snookr.net/" schemaLocation="http://localhost:8084/SnookrWebApp/SnookrWS?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="echo">
<part name="parameters" element="tns:echo"></part>
</message>
<message name="echoResponse">
<part name="parameters" element="tns:echoResponse"></part>
</message>
<message name="createOrUpdate">
<part name="parameters" element="tns:createOrUpdate"></part>
</message>
<message name="createOrUpdateResponse">
<part name="parameters" element="tns:createOrUpdateResponse"></part>
</message>
<message name="countForHost">
<part name="parameters" element="tns:countForHost"></part>
</message>
<message name="countForHostResponse">
<part name="parameters" element="tns:countForHostResponse"></part>
</message>
<portType name="SnookrWS">
<operation name="echo">
<input message="tns:echo"></input>
<output message="tns:echoResponse"></output>
</operation>
<operation name="createOrUpdate">
<input message="tns:createOrUpdate"></input>
<output message="tns:createOrUpdateResponse"></output>
</operation>
<operation name="countForHost">
<input message="tns:countForHost"></input>
<output message="tns:countForHostResponse"></output>
</operation>
</portType>
<binding name="SnookrWSPortBinding" type="tns:SnookrWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="echo">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="createOrUpdate">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="countForHost">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="SnookrWSService">
<port name="SnookrWSPort" binding="tns:SnookrWSPortBinding">
<soap:address location="http://localhost:8084/SnookrWebApp/SnookrWS"></soap:address>
</port>
</service>
</definitions>