trunk/snookr/ObserveFiles/xml-resources/web-service-references/SnookrWS/wsdl/localhost_8084/SnookrWebApp/SnookrWS.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.1-b02-RC1. --><xs:schema xmlns:tns="http://ws.snookr.net/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.snookr.net/">

<xs:element name="countForHost" type="tns:countForHost"></xs:element>

<xs:element name="countForHostResponse" type="tns:countForHostResponse"></xs:element>

<xs:element name="createOrUpdate" type="tns:createOrUpdate"></xs:element>

<xs:element name="createOrUpdateResponse" type="tns:createOrUpdateResponse"></xs:element>

<xs:element name="echo" type="tns:echo"></xs:element>

<xs:element name="echoResponse" type="tns:echoResponse"></xs:element>

<xs:complexType name="countForHost">
<xs:sequence>
<xs:element name="host" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="countForHostResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createOrUpdate">
<xs:sequence>
<xs:element name="host" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="fileName" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="fileSize" type="xs:long" minOccurs="0"></xs:element>
<xs:element name="lastModified" type="xs:dateTime" minOccurs="0"></xs:element>
<xs:element name="md5" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="taken" type="xs:dateTime" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createOrUpdateResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="echo">
<xs:sequence>
<xs:element name="str" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="echoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>