trunk/green/Energate/xml/wsdlTypes-xsd4.xml

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Energate.Core2.Reporting" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/Energate.Core2.Reporting">
    <xs:import schemaLocation="http://opa.myenergate.com/Svc/Energate.Core2.Reporting.Core2ReportService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
    <xs:import schemaLocation="http://opa.myenergate.com/Svc/Energate.Core2.Reporting.Core2ReportService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
    <xs:import schemaLocation="http://opa.myenergate.com/Svc/Energate.Core2.Reporting.Core2ReportService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Energate.Core2.CoreService.ToDevsService"/>
    <xs:complexType name="ArrayOfThermostatTemp">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="ThermostatTemp" nillable="true" type="tns:ThermostatTemp"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ArrayOfThermostatTemp" nillable="true" type="tns:ArrayOfThermostatTemp"/>
    <xs:complexType name="ThermostatTemp">
        <xs:sequence>
            <xs:element minOccurs="0" name="ActiveCoolTemp" type="xs:unsignedShort"/>
            <xs:element minOccurs="0" name="ActiveHeatTemp" type="xs:unsignedShort"/>
            <xs:element minOccurs="0" name="CurrIndoorTemp" type="xs:unsignedShort"/>
            <xs:element minOccurs="0" name="OutdoorTemp" type="xs:unsignedShort"/>
            <xs:element minOccurs="0" name="StatusDate" type="xs:dateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ThermostatTemp" nillable="true" type="tns:ThermostatTemp"/>
    <xs:complexType name="ThermostatDetails">
        <xs:sequence>
            <xs:element minOccurs="0" name="CurrHoldName" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="DataValid" type="xs:boolean"/>
            <xs:element minOccurs="0" name="Details" nillable="true" type="tns:WsThermoStatus"/>
            <xs:element minOccurs="0" name="InActiveDateTime" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ThermostatDetails" nillable="true" type="tns:ThermostatDetails"/>
    <xs:complexType name="WsThermoStatus">
        <xs:sequence>
            <xs:element minOccurs="0" name="ActiveCoolTemp" type="xs:float"/>
            <xs:element minOccurs="0" name="ActiveHeatTemp" type="xs:float"/>
            <xs:element minOccurs="0" name="ConsCoolOffset" type="xs:float"/>
            <xs:element minOccurs="0" name="ConsCoolTemp" type="xs:float"/>
            <xs:element minOccurs="0" name="ConsHeatOffset" type="xs:float"/>
            <xs:element minOccurs="0" name="ConsHeatTemp" type="xs:float"/>
            <xs:element minOccurs="0" name="ControlModeHeating" type="xs:boolean"/>
            <xs:element minOccurs="0" name="CoolStages" type="xs:unsignedByte"/>
            <xs:element minOccurs="0" name="CurrHoldType" type="tns:WsThermoStatus.HoldType"/>
            <xs:element minOccurs="0" name="CurrIndoorTemp" type="xs:float"/>
            <xs:element minOccurs="0" name="DrlcCoolOffset" type="xs:float"/>
            <xs:element minOccurs="0" name="DrlcCoolTemp" type="xs:float"/>
            <xs:element minOccurs="0" name="DrlcHeatOffset" type="xs:float"/>
            <xs:element minOccurs="0" name="DrlcHeatTemp" type="xs:float"/>
            <xs:element minOccurs="0" name="DrlcInUse" type="xs:boolean"/>
            <xs:element minOccurs="0" name="DrlcOverridden" type="xs:boolean"/>
            <xs:element minOccurs="0" name="EqMode" type="xs:unsignedByte"/>
            <xs:element minOccurs="0" name="EqType" type="xs:unsignedByte"/>
            <xs:element minOccurs="0" name="FanMode" type="xs:boolean"/>
            <xs:element minOccurs="0" name="FanOn" type="xs:boolean"/>
            <xs:element minOccurs="0" name="FilterFault" type="xs:boolean"/>
            <xs:element minOccurs="0" name="HeatPumpDisabled" type="xs:boolean"/>
            <xs:element minOccurs="0" name="HeatPumpFault" type="xs:boolean"/>
            <xs:element minOccurs="0" name="HeatStages" type="xs:unsignedByte"/>
            <xs:element minOccurs="0" name="HoldEndTime" type="xs:unsignedInt"/>
            <xs:element minOccurs="0" name="HoldSpIndex" type="xs:unsignedByte"/>
            <xs:element minOccurs="0" name="LowBattery" type="xs:boolean"/>
            <xs:element minOccurs="0" name="OutdoorTemp" type="xs:float"/>
            <xs:element minOccurs="0" name="RemoteIndoorTemp" type="xs:float"/>
            <xs:element minOccurs="0" name="SchedCoolTemp" type="xs:float"/>
            <xs:element minOccurs="0" name="SchedHeatTemp" type="xs:float"/>
            <xs:element minOccurs="0" name="ShortCircuit" type="xs:boolean"/>
            <xs:element minOccurs="0" name="StagesEngaged" type="xs:unsignedByte"/>
            <xs:element minOccurs="0" name="TempSavSpInProgress" type="xs:boolean"/>
            <xs:element minOccurs="0" name="TouInUse" type="xs:boolean"/>
            <xs:element minOccurs="0" name="TouOverridden" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="WsThermoStatus" nillable="true" type="tns:WsThermoStatus"/>
    <xs:simpleType name="WsThermoStatus.HoldType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="None"/>
            <xs:enumeration value="Temporary"/>
            <xs:enumeration value="Permanent"/>
            <xs:enumeration value="TimedHours"/>
            <xs:enumeration value="TimedDays"/>
            <xs:enumeration value="Vacation"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="WsThermoStatus.HoldType" nillable="true" type="tns:WsThermoStatus.HoldType"/>
    <xs:complexType name="ArrayOfThermostats">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="Thermostats" nillable="true" type="tns:Thermostats"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ArrayOfThermostats" nillable="true" type="tns:ArrayOfThermostats"/>
    <xs:complexType name="Thermostats">
        <xs:sequence>
            <xs:element minOccurs="0" name="LastAccessedMacAddr" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="MacAddr" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="ThermName" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Thermostats" nillable="true" type="tns:Thermostats"/>
    <xs:complexType name="ArrayOfSetPoints">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="SetPoints" nillable="true" type="tns:SetPoints"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ArrayOfSetPoints" nillable="true" type="tns:ArrayOfSetPoints"/>
    <xs:complexType name="SetPoints">
        <xs:sequence>
            <xs:element minOccurs="0" name="Cool" type="xs:float"/>
            <xs:element minOccurs="0" name="Heat" type="xs:float"/>
            <xs:element minOccurs="0" name="ScheduleType" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="SetPointName" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="SetPoints" nillable="true" type="tns:SetPoints"/>
    <xs:complexType name="ArrayOfThermoSchedule">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="ThermoSchedule" nillable="true" type="tns:ThermoSchedule"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ArrayOfThermoSchedule" nillable="true" type="tns:ArrayOfThermoSchedule"/>
    <xs:complexType name="ThermoSchedule">
        <xs:sequence>
            <xs:element minOccurs="0" name="ScheduleDay" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="SlotsHour" type="xs:short"/>
            <xs:element minOccurs="0" name="SlotsMin" type="xs:short"/>
            <xs:element minOccurs="0" name="SpName" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ThermoSchedule" nillable="true" type="tns:ThermoSchedule"/>
    <xs:complexType name="ConsumerThermDetails">
        <xs:sequence>
            <xs:element minOccurs="0" name="ActiveMode" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="CoolingSetpoint" type="xs:float"/>
            <xs:element minOccurs="0" name="CurrHoldType" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="EqType" type="xs:short"/>
            <xs:element minOccurs="0" name="HeatingSetpoint" type="xs:float"/>
            <xs:element minOccurs="0" name="HoldEndTime" type="xs:unsignedLong"/>
            <xs:element minOccurs="0" name="HoldSpIndex" type="xs:int"/>
            <xs:element minOccurs="0" name="HoldVacationDate" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="MacAddr" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="Mode" nillable="true" type="q1:ArrayOfstring" xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
            <xs:element minOccurs="0" name="bFanOn" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ConsumerThermDetails" nillable="true" type="tns:ConsumerThermDetails"/>
    <xs:complexType name="FixedSetPoint">
        <xs:sequence>
            <xs:element minOccurs="0" name="Cool" type="xs:float"/>
            <xs:element minOccurs="0" name="Heat" type="xs:float"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="FixedSetPoint" nillable="true" type="tns:FixedSetPoint"/>
    <xs:complexType name="WeatherFeed">
        <xs:sequence>
            <xs:element minOccurs="0" name="CurrTemp" type="xs:float"/>
            <xs:element minOccurs="0" name="MaxCurrForcast" type="xs:float"/>
            <xs:element minOccurs="0" name="MaxNextForecast" type="xs:float"/>
            <xs:element minOccurs="0" name="MinCurrForecast" type="xs:float"/>
            <xs:element minOccurs="0" name="MinNextForecast" type="xs:float"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="WeatherFeed" nillable="true" type="tns:WeatherFeed"/>
    <xs:complexType name="ArrayOfEventNMessage">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="EventNMessage" nillable="true" type="tns:EventNMessage"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ArrayOfEventNMessage" nillable="true" type="tns:ArrayOfEventNMessage"/>
    <xs:complexType name="EventNMessage">
        <xs:sequence>
            <xs:element minOccurs="0" name="CoolOffset" type="xs:float"/>
            <xs:element minOccurs="0" name="Date" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="HeatOffset" type="xs:float"/>
            <xs:element minOccurs="0" name="ID" type="xs:long"/>
            <xs:element minOccurs="0" name="MsgType" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="EventNMessage" nillable="true" type="tns:EventNMessage"/>
    <xs:complexType name="ArrayOfUserScaleNTime">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="UserScaleNTime" nillable="true" type="tns:UserScaleNTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ArrayOfUserScaleNTime" nillable="true" type="tns:ArrayOfUserScaleNTime"/>
    <xs:complexType name="UserScaleNTime">
        <xs:sequence>
            <xs:element minOccurs="0" name="Scale" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="Time" type="xs:short"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="UserScaleNTime" nillable="true" type="tns:UserScaleNTime"/>
    <xs:complexType name="WsThermostatStatusReport">
        <xs:sequence>
            <xs:element minOccurs="0" name="MacAddress" nillable="true" type="xs:base64Binary"/>
            <xs:element minOccurs="0" name="MsgReceivedTimeSecs" type="xs:unsignedInt"/>
            <xs:element minOccurs="0" name="Status" nillable="true" type="tns:WsThermoStatus"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="WsThermostatStatusReport" nillable="true" type="tns:WsThermostatStatusReport"/>
    <xs:complexType name="WsFaultReport">
        <xs:sequence>
            <xs:element minOccurs="0" name="Fault" type="xs:boolean"/>
            <xs:element minOccurs="0" name="FaultDetails" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="MsgReceivedTimeSecs" type="xs:unsignedInt"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="WsFaultReport" nillable="true" type="tns:WsFaultReport"/>
    <xs:complexType name="WsDrlcEventStatusReport">
        <xs:sequence>
            <xs:element minOccurs="0" name="CoolTemp" type="xs:float"/>
            <xs:element minOccurs="0" name="CriticalLevel" type="xs:unsignedByte"/>
            <xs:element minOccurs="0" name="DutyCycle" type="xs:unsignedByte"/>
            <xs:element minOccurs="0" name="EventControl" type="xs:unsignedByte"/>
            <xs:element minOccurs="0" name="EventId" type="xs:unsignedInt"/>
            <xs:element minOccurs="0" name="HeatTemp" type="xs:float"/>
            <xs:element minOccurs="0" name="LoadAdjust" type="xs:byte"/>
            <xs:element minOccurs="0" name="MacAddress" nillable="true" type="xs:base64Binary"/>
            <xs:element minOccurs="0" name="MsgReceivedTimeSecs" type="xs:unsignedInt"/>
            <xs:element minOccurs="0" name="Status" type="tns:WsEventStatus"/>
            <xs:element minOccurs="0" name="StatusTimeSecs" type="xs:unsignedInt"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="WsDrlcEventStatusReport" nillable="true" type="tns:WsDrlcEventStatusReport"/>
    <xs:simpleType name="WsEventStatus">
        <xs:restriction base="xs:string">
            <xs:enumeration value="EVENT_RECEIVED">
                <xs:annotation>
                    <xs:appinfo>
                        <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
                    </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="EVENT_STARTED">
                <xs:annotation>
                    <xs:appinfo>
                        <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
                    </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="EVENT_COMPLETED">
                <xs:annotation>
                    <xs:appinfo>
                        <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
                    </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="EVENT_USER_OPT_OUT">
                <xs:annotation>
                    <xs:appinfo>
                        <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
                    </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="EVENT_USER_OPT_IN">
                <xs:annotation>
                    <xs:appinfo>
                        <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">5</EnumerationValue>
                    </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="EVENT_CANCELED">
                <xs:annotation>
                    <xs:appinfo>
                        <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">6</EnumerationValue>
                    </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="EVENT_SUPERSEDED">
                <xs:annotation>
                    <xs:appinfo>
                        <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">7</EnumerationValue>
                    </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="EVENT_COMPLETED_PART_OPT_OUT">
                <xs:annotation>
                    <xs:appinfo>
                        <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">8</EnumerationValue>
                    </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="EVENT_COMPLETED_PART_OPT_IN">
                <xs:annotation>
                    <xs:appinfo>
                        <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">9</EnumerationValue>
                    </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="EVENT_COMPLETED_NO_PARTICIPATION">
                <xs:annotation>
                    <xs:appinfo>
                        <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">10</EnumerationValue>
                    </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="EVENT_REJECTED_INVALID_CANCEL_PARAMS">
                <xs:annotation>
                    <xs:appinfo>
                        <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">248</EnumerationValue>
                    </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="EVENT_REJECTED_INVALID_EFFECTIVE_TIME">
                <xs:annotation>
                    <xs:appinfo>
                        <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">249</EnumerationValue>
                    </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="EVENT_REJECTED_DUPLICATE_ID">
                <xs:annotation>
                    <xs:appinfo>
                        <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">250</EnumerationValue>
                    </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="EVENT_REJECTED_EXPIRED">
                <xs:annotation>
                    <xs:appinfo>
                        <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">251</EnumerationValue>
                    </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="EVENT_REJECTED_COMPLETED">
                <xs:annotation>
                    <xs:appinfo>
                        <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">252</EnumerationValue>
                    </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="EVENT_REJECTED_UNDEFINED">
                <xs:annotation>
                    <xs:appinfo>
                        <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">253</EnumerationValue>
                    </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="EVENT_REJECTED">
                <xs:annotation>
                    <xs:appinfo>
                        <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">254</EnumerationValue>
                    </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="WsEventStatus" nillable="true" type="tns:WsEventStatus"/>
    <xs:complexType name="WsMessageConfirmationReport">
        <xs:sequence>
            <xs:element minOccurs="0" name="ConfirmationTimeSecs" type="xs:unsignedInt"/>
            <xs:element minOccurs="0" name="MacAddress" nillable="true" type="xs:base64Binary"/>
            <xs:element minOccurs="0" name="MessageId" type="xs:unsignedInt"/>
            <xs:element minOccurs="0" name="MsgReceivedTimeSecs" type="xs:unsignedInt"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="WsMessageConfirmationReport" nillable="true" type="tns:WsMessageConfirmationReport"/>
    <xs:complexType name="WsLastMesageRequest">
        <xs:sequence>
            <xs:element minOccurs="0" name="MacAddress" nillable="true" type="xs:base64Binary"/>
            <xs:element minOccurs="0" name="MsgReceivedTimeSecs" type="xs:unsignedInt"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="WsLastMesageRequest" nillable="true" type="tns:WsLastMesageRequest"/>
    <xs:complexType name="WsUiStringReport">
        <xs:sequence>
            <xs:element minOccurs="0" name="AlternateLanguage" type="xs:boolean"/>
            <xs:element minOccurs="0" name="MacAddress" nillable="true" type="xs:base64Binary"/>
            <xs:element minOccurs="0" name="MsgReceivedTimeSecs" type="xs:unsignedInt"/>
            <xs:element minOccurs="0" name="StringIndex" type="xs:unsignedByte"/>
            <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="WsUiStringReport" nillable="true" type="tns:WsUiStringReport"/>
    <xs:complexType name="WsThermoScheduleReport">
        <xs:sequence>
            <xs:element minOccurs="0" name="Day" type="q2:WsDayType" xmlns:q2="http://schemas.datacontract.org/2004/07/Energate.Core2.CoreService.ToDevsService"/>
            <xs:element minOccurs="0" name="MacAddress" nillable="true" type="xs:base64Binary"/>
            <xs:element minOccurs="0" name="MsgReceivedTimeSecs" type="xs:unsignedInt"/>
            <xs:element minOccurs="0" name="Slots" nillable="true" type="q3:ArrayOfWsThermoScheduleSlot" xmlns:q3="http://schemas.datacontract.org/2004/07/Energate.Core2.CoreService.ToDevsService"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="WsThermoScheduleReport" nillable="true" type="tns:WsThermoScheduleReport"/>
    <xs:complexType name="WsSetpointsReport">
        <xs:sequence>
            <xs:element minOccurs="0" name="MacAddress" nillable="true" type="xs:base64Binary"/>
            <xs:element minOccurs="0" name="MsgReceivedTimeSecs" type="xs:unsignedInt"/>
            <xs:element minOccurs="0" name="SetPoints" nillable="true" type="q4:ArrayOfWsSetPoint" xmlns:q4="http://schemas.datacontract.org/2004/07/Energate.Core2.CoreService.ToDevsService"/>
            <xs:element minOccurs="0" name="StartIndex" type="xs:unsignedByte"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="WsSetpointsReport" nillable="true" type="tns:WsSetpointsReport"/>
    <xs:complexType name="WsUserConfigReport">
        <xs:sequence>
            <xs:element minOccurs="0" name="Config" nillable="true" type="q5:WsUserConfig" xmlns:q5="http://schemas.datacontract.org/2004/07/Energate.Core2.CoreService.ToDevsService"/>
            <xs:element minOccurs="0" name="MacAddress" nillable="true" type="xs:base64Binary"/>
            <xs:element minOccurs="0" name="MsgReceivedTimeSecs" type="xs:unsignedInt"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="WsUserConfigReport" nillable="true" type="tns:WsUserConfigReport"/>
    <xs:complexType name="WsDrlcScheduledEventsRequest">
        <xs:sequence>
            <xs:element minOccurs="0" name="MacAddress" nillable="true" type="xs:base64Binary"/>
            <xs:element minOccurs="0" name="MsgReceivedTimeSecs" type="xs:unsignedInt"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="WsDrlcScheduledEventsRequest" nillable="true" type="tns:WsDrlcScheduledEventsRequest"/>
    <xs:complexType name="WsIdentityReport">
        <xs:sequence>
            <xs:element minOccurs="0" name="ClassId" type="q6:WsClassId" xmlns:q6="http://schemas.datacontract.org/2004/07/Energate.Core2.CoreService.ToDevsService"/>
            <xs:element minOccurs="0" name="FwBuild" type="xs:unsignedByte"/>
            <xs:element minOccurs="0" name="FwMajor" type="xs:unsignedByte"/>
            <xs:element minOccurs="0" name="FwMinor" type="xs:unsignedByte"/>
            <xs:element minOccurs="0" name="HwMajor" type="xs:unsignedByte"/>
            <xs:element minOccurs="0" name="HwMinor" type="xs:unsignedByte"/>
            <xs:element minOccurs="0" name="InstCode" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="IpMacAddress" nillable="true" type="xs:base64Binary"/>
            <xs:element minOccurs="0" name="MsgReceivedTimeSecs" type="xs:unsignedInt"/>
            <xs:element minOccurs="0" name="OsBuild" type="xs:unsignedByte"/>
            <xs:element minOccurs="0" name="OsMajor" type="xs:unsignedByte"/>
            <xs:element minOccurs="0" name="OsMinor" type="xs:unsignedByte"/>
            <xs:element minOccurs="0" name="RfMacAddress" nillable="true" type="xs:base64Binary"/>
            <xs:element minOccurs="0" name="SwDesrc" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="Version" type="xs:unsignedByte"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="WsIdentityReport" nillable="true" type="tns:WsIdentityReport"/>
    <xs:complexType name="WsNetworkStatusReport">
        <xs:sequence>
            <xs:element minOccurs="0" name="Channel" type="xs:unsignedByte"/>
            <xs:element minOccurs="0" name="ExtPanId" nillable="true" type="xs:base64Binary"/>
            <xs:element minOccurs="0" name="JoinPermitted" type="xs:boolean"/>
            <xs:element minOccurs="0" name="Lqi" type="xs:unsignedByte"/>
            <xs:element minOccurs="0" name="MacAddress" nillable="true" type="xs:base64Binary"/>
            <xs:element minOccurs="0" name="MsgReceivedTimeSecs" type="xs:unsignedInt"/>
            <xs:element minOccurs="0" name="NetKeyTime" type="xs:dateTime"/>
            <xs:element minOccurs="0" name="NetworkKey" nillable="true" type="xs:base64Binary"/>
            <xs:element minOccurs="0" name="PanId" type="xs:unsignedShort"/>
            <xs:element minOccurs="0" name="Rssi" type="xs:byte"/>
            <xs:element minOccurs="0" name="Status" type="tns:NetworkStatusCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="WsNetworkStatusReport" nillable="true" type="tns:WsNetworkStatusReport"/>
    <xs:simpleType name="NetworkStatusCode">
        <xs:annotation>
            <xs:appinfo>
                <ActualType Name="unsignedByte" Namespace="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
            </xs:appinfo>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="No_Network"/>
            <xs:enumeration value="Formed_Network"/>
            <xs:enumeration value="Joining_Network">
                <xs:annotation>
                    <xs:appinfo>
                        <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">128</EnumerationValue>
                    </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Joined">
                <xs:annotation>
                    <xs:appinfo>
                        <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">129</EnumerationValue>
                    </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="NetworkStatusCode" nillable="true" type="tns:NetworkStatusCode"/>
    <xs:complexType name="WsConstructEndPointReport">
        <xs:sequence>
            <xs:element minOccurs="0" name="EndPointId" type="xs:unsignedByte"/>
            <xs:element minOccurs="0" name="EndPoints" nillable="true" type="tns:ArrayOfWsZigbeeEndPoint"/>
            <xs:element minOccurs="0" name="MacAddress" nillable="true" type="xs:base64Binary"/>
            <xs:element minOccurs="0" name="MsgReceivedTimeSecs" type="xs:unsignedInt"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="WsConstructEndPointReport" nillable="true" type="tns:WsConstructEndPointReport"/>
    <xs:complexType name="ArrayOfWsZigbeeEndPoint">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="WsZigbeeEndPoint" nillable="true" type="tns:WsZigbeeEndPoint"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ArrayOfWsZigbeeEndPoint" nillable="true" type="tns:ArrayOfWsZigbeeEndPoint"/>
    <xs:complexType name="WsZigbeeEndPoint">
        <xs:sequence>
            <xs:element minOccurs="0" name="Cluster" nillable="true" type="tns:WsZigbeeCluster"/>
            <xs:element minOccurs="0" name="DeviceId" type="xs:unsignedShort"/>
            <xs:element minOccurs="0" name="DeviceVersion" type="xs:unsignedByte"/>
            <xs:element minOccurs="0" name="EndPointId" type="xs:unsignedByte"/>
            <xs:element minOccurs="0" name="ProfileId" type="xs:unsignedShort"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="WsZigbeeEndPoint" nillable="true" type="tns:WsZigbeeEndPoint"/>
    <xs:complexType name="WsZigbeeCluster">
        <xs:sequence>
            <xs:element minOccurs="0" name="Flags" type="xs:unsignedByte"/>
            <xs:element minOccurs="0" name="Id" type="xs:unsignedShort"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="WsZigbeeCluster" nillable="true" type="tns:WsZigbeeCluster"/>
    <xs:complexType name="WsZipConnectEndDeviceStatus">
        <xs:sequence>
            <xs:element minOccurs="0" name="LastConnectTimeSecs" type="xs:unsignedInt"/>
            <xs:element minOccurs="0" name="LastContactTimeSecs" type="xs:unsignedInt"/>
            <xs:element minOccurs="0" name="LinkKey" nillable="true" type="xs:base64Binary"/>
            <xs:element minOccurs="0" name="LinkKeyTimeSecs" type="xs:unsignedInt"/>
            <xs:element minOccurs="0" name="Lqi" type="xs:unsignedByte"/>
            <xs:element minOccurs="0" name="MacAddress" nillable="true" type="xs:base64Binary"/>
            <xs:element minOccurs="0" name="MsgReceivedTimeSecs" type="xs:unsignedInt"/>
            <xs:element minOccurs="0" name="ProvisionExpiryTimeSecs" type="xs:unsignedInt"/>
            <xs:element minOccurs="0" name="Rssi" type="xs:byte"/>
            <xs:element minOccurs="0" name="Status" type="tns:WsStatusCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="WsZipConnectEndDeviceStatus" nillable="true" type="tns:WsZipConnectEndDeviceStatus"/>
    <xs:simpleType name="WsStatusCode">
        <xs:annotation>
            <xs:appinfo>
                <ActualType Name="unsignedByte" Namespace="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
            </xs:appinfo>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="Not_Provisioned"/>
            <xs:enumeration value="Provisioned"/>
            <xs:enumeration value="Connected"/>
            <xs:enumeration value="Registered">
                <xs:annotation>
                    <xs:appinfo>
                        <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">8</EnumerationValue>
                    </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Invalid_Request">
                <xs:annotation>
                    <xs:appinfo>
                        <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">240</EnumerationValue>
                    </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="WsStatusCode" nillable="true" type="tns:WsStatusCode"/>
    <xs:complexType name="WsDiscoverEndPointReport">
        <xs:sequence>
            <xs:element minOccurs="0" name="EndPoints" nillable="true" type="tns:ArrayOfWsZigbeeEndPoint"/>
            <xs:element minOccurs="0" name="MacAddress" nillable="true" type="xs:base64Binary"/>
            <xs:element minOccurs="0" name="MsgReceivedTimeSecs" type="xs:unsignedInt"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="WsDiscoverEndPointReport" nillable="true" type="tns:WsDiscoverEndPointReport"/>
    <xs:complexType name="WsDrlcEventReport">
        <xs:sequence>
            <xs:element minOccurs="0" name="CoolOffset" type="xs:float"/>
            <xs:element minOccurs="0" name="CoolTemp" type="xs:float"/>
            <xs:element minOccurs="0" name="EventId" type="xs:unsignedInt"/>
            <xs:element minOccurs="0" name="HeatOffset" type="xs:float"/>
            <xs:element minOccurs="0" name="HeatTemp" type="xs:float"/>
            <xs:element minOccurs="0" name="MacAddress" nillable="true" type="xs:base64Binary"/>
            <xs:element minOccurs="0" name="MsgReceivedTimeSecs" type="xs:unsignedInt"/>
            <xs:element minOccurs="0" name="StartTimeSecs" type="xs:unsignedInt"/>
            <xs:element minOccurs="0" name="StopTimeSecs" type="xs:unsignedInt"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="WsDrlcEventReport" nillable="true" type="tns:WsDrlcEventReport"/>
    <xs:complexType name="WsDrlcAttrsReport">
        <xs:sequence>
            <xs:element minOccurs="0" name="DeviceClass" type="xs:unsignedShort"/>
            <xs:element minOccurs="0" name="DeviceClassReport" type="xs:boolean"/>
            <xs:element minOccurs="0" name="DeviceClassStatus" type="tns:WsZclCode"/>
            <xs:element minOccurs="0" name="MacAddress" nillable="true" type="xs:base64Binary"/>
            <xs:element minOccurs="0" name="MaxRandStart" type="xs:unsignedByte"/>
            <xs:element minOccurs="0" name="MaxRandStartReport" type="xs:boolean"/>
            <xs:element minOccurs="0" name="MaxRandStartStatus" type="tns:WsZclCode"/>
            <xs:element minOccurs="0" name="MaxRandStop" type="xs:unsignedByte"/>
            <xs:element minOccurs="0" name="MaxRandStopReport" type="xs:boolean"/>
            <xs:element minOccurs="0" name="MaxRandStopStatus" type="tns:WsZclCode"/>
            <xs:element minOccurs="0" name="MsgReceivedTimeSecs" type="xs:unsignedInt"/>
            <xs:element minOccurs="0" name="UtilityGroup" type="xs:unsignedByte"/>
            <xs:element minOccurs="0" name="UtilityGroupReport" type="xs:boolean"/>
            <xs:element minOccurs="0" name="UtilityGroupStatus" type="tns:WsZclCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="WsDrlcAttrsReport" nillable="true" type="tns:WsDrlcAttrsReport"/>
    <xs:simpleType name="WsZclCode">
        <xs:annotation>
            <xs:appinfo>
                <ActualType Name="unsignedByte" Namespace="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
            </xs:appinfo>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="ZCL_SUCCESS"/>
            <xs:enumeration value="ZCL_FAILURE"/>
            <xs:enumeration value="ZCL_MALFORMED_COMMAND">
                <xs:annotation>
                    <xs:appinfo>
                        <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">128</EnumerationValue>
                    </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ZCL_UNSUP_CLUSTER_COMMAND">
                <xs:annotation>
                    <xs:appinfo>
                        <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">129</EnumerationValue>
                    </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ZCL_UNSUP_GENERAL_COMMAND">
                <xs:annotation>
                    <xs:appinfo>
                        <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">130</EnumerationValue>
                    </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ZCL_UNSUP_MANUF_CLUSTER_COMMAND">
                <xs:annotation>
                    <xs:appinfo>
                        <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">131</EnumerationValue>
                    </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ZCL_UNSUP_MANUF_GENERAL_COMMAND">
                <xs:annotation>
                    <xs:appinfo>
                        <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">132</EnumerationValue>
                    </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ZCL_INVALID_FIELD">
                <xs:annotation>
                    <xs:appinfo>
                        <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">133</EnumerationValue>
                    </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ZCL_UNSUPPORTED_ATTRIBUTE">
                <xs:annotation>
                    <xs:appinfo>
                        <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">134</EnumerationValue>
                    </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ZCL_INVALID_VALUE">
                <xs:annotation>
                    <xs:appinfo>
                        <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">135</EnumerationValue>
                    </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ZCL_READ_ONLY">
                <xs:annotation>
                    <xs:appinfo>
                        <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">136</EnumerationValue>
                    </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ZCL_INSUFFICIENT_SPACE">
                <xs:annotation>
                    <xs:appinfo>
                        <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">137</EnumerationValue>
                    </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ZCL_DUPLICATE_EXISTS">
                <xs:annotation>
                    <xs:appinfo>
                        <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">138</EnumerationValue>
                    </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ZCL_NOT_FOUND">
                <xs:annotation>
                    <xs:appinfo>
                        <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">139</EnumerationValue>
                    </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ZCL_UNREPORTABLE_ATTRIBUTE">
                <xs:annotation>
                    <xs:appinfo>
                        <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">140</EnumerationValue>
                    </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ZCL_INVALID_DATA_TYPE">
                <xs:annotation>
                    <xs:appinfo>
                        <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">141</EnumerationValue>
                    </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ZCL_HARDWARE_FAILURE">
                <xs:annotation>
                    <xs:appinfo>
                        <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">192</EnumerationValue>
                    </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ZCL_SOFTWARE_FAILURE">
                <xs:annotation>
                    <xs:appinfo>
                        <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">193</EnumerationValue>
                    </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ZCL_CALIBRATION_ERROR">
                <xs:annotation>
                    <xs:appinfo>
                        <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">194</EnumerationValue>
                    </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="WsZclCode" nillable="true" type="tns:WsZclCode"/>
    <xs:complexType name="WsDrlcWriteAttrsStatusReport">
        <xs:sequence>
            <xs:element minOccurs="0" name="DeviceClassStatus" type="tns:WsZclCode"/>
            <xs:element minOccurs="0" name="MacAddress" nillable="true" type="xs:base64Binary"/>
            <xs:element minOccurs="0" name="MaxRandStartStatus" type="tns:WsZclCode"/>
            <xs:element minOccurs="0" name="MaxRandStopStatus" type="tns:WsZclCode"/>
            <xs:element minOccurs="0" name="MsgReceivedTimeSecs" type="xs:unsignedInt"/>
            <xs:element minOccurs="0" name="UtilityGroupStatus" type="tns:WsZclCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="WsDrlcWriteAttrsStatusReport" nillable="true" type="tns:WsDrlcWriteAttrsStatusReport"/>
    <xs:complexType name="WsPriceEventReport">
        <xs:sequence>
            <xs:element minOccurs="0" name="EventId" type="xs:unsignedInt"/>
            <xs:element minOccurs="0" name="MacAddress" nillable="true" type="xs:base64Binary"/>
            <xs:element minOccurs="0" name="MsgReceivedTimeSecs" type="xs:unsignedInt"/>
            <xs:element minOccurs="0" name="StartTimeSecs" type="xs:unsignedInt"/>
            <xs:element minOccurs="0" name="StopTimeSecs" type="xs:unsignedInt"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="WsPriceEventReport" nillable="true" type="tns:WsPriceEventReport"/>
    <xs:complexType name="WsPriceEventStatusReport">
        <xs:sequence>
            <xs:element minOccurs="0" name="CoolTemp" type="xs:float"/>
            <xs:element minOccurs="0" name="HeatTemp" type="xs:float"/>
            <xs:element minOccurs="0" name="Id" type="xs:unsignedInt"/>
            <xs:element minOccurs="0" name="MacAddress" nillable="true" type="xs:base64Binary"/>
            <xs:element minOccurs="0" name="MsgReceivedTimeSecs" type="xs:unsignedInt"/>
            <xs:element minOccurs="0" name="Status" type="tns:WsEventStatus"/>
            <xs:element minOccurs="0" name="StatusTimeSec" type="xs:unsignedInt"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="WsPriceEventStatusReport" nillable="true" type="tns:WsPriceEventStatusReport"/>
    <xs:complexType name="WsPriceConsReport">
        <xs:sequence>
            <xs:element minOccurs="0" name="ComfortLevelCons" nillable="true" type="xs:base64Binary"/>
            <xs:element minOccurs="0" name="MacAddress" nillable="true" type="xs:base64Binary"/>
            <xs:element minOccurs="0" name="MsgReceivedTimeSecs" type="xs:unsignedInt"/>
            <xs:element minOccurs="0" name="SelectedIndex" type="xs:unsignedByte"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="WsPriceConsReport" nillable="true" type="tns:WsPriceConsReport"/>
    <xs:complexType name="WsIdentifyReport">
        <xs:sequence>
            <xs:element minOccurs="0" name="MacAddress" nillable="true" type="xs:base64Binary"/>
            <xs:element minOccurs="0" name="MsgReceivedTimeSecs" type="xs:unsignedInt"/>
            <xs:element minOccurs="0" name="Secs" type="xs:unsignedShort"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="WsIdentifyReport" nillable="true" type="tns:WsIdentifyReport"/>
    <xs:complexType name="WsCurrentPriceRequest">
        <xs:sequence>
            <xs:element minOccurs="0" name="MacAddress" nillable="true" type="xs:base64Binary"/>
            <xs:element minOccurs="0" name="MsgReceivedTimeSecs" type="xs:unsignedInt"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="WsCurrentPriceRequest" nillable="true" type="tns:WsCurrentPriceRequest"/>
    <xs:complexType name="WsPingReport">
        <xs:sequence>
            <xs:element minOccurs="0" name="MacAddress" nillable="true" type="xs:base64Binary"/>
            <xs:element minOccurs="0" name="MsgReceivedTimeSecs" type="xs:unsignedInt"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="WsPingReport" nillable="true" type="tns:WsPingReport"/>
    <xs:complexType name="WsEndDeviceVersionReport">
        <xs:sequence>
            <xs:element minOccurs="0" name="MacAddress" nillable="true" type="xs:base64Binary"/>
            <xs:element minOccurs="0" name="MsgReceivedTimeSecs" type="xs:unsignedInt"/>
            <xs:element minOccurs="0" name="ProtocolVersionMajor" type="xs:unsignedByte"/>
            <xs:element minOccurs="0" name="ProtocolVersionMinor" type="xs:unsignedByte"/>
            <xs:element minOccurs="0" name="RfHwMajor" type="xs:unsignedByte"/>
            <xs:element minOccurs="0" name="RfHwMinor" type="xs:unsignedByte"/>
            <xs:element minOccurs="0" name="RfSwBuild" type="xs:unsignedByte"/>
            <xs:element minOccurs="0" name="RfSwMajor" type="xs:unsignedByte"/>
            <xs:element minOccurs="0" name="RfSwMinor" type="xs:unsignedByte"/>
            <xs:element minOccurs="0" name="ThermHwMajor" type="xs:unsignedByte"/>
            <xs:element minOccurs="0" name="ThermHwMinor" type="xs:unsignedByte"/>
            <xs:element minOccurs="0" name="ThermSwBuild" type="xs:unsignedByte"/>
            <xs:element minOccurs="0" name="ThermSwMajor" type="xs:unsignedByte"/>
            <xs:element minOccurs="0" name="ThermSwMinor" type="xs:unsignedByte"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="WsEndDeviceVersionReport" nillable="true" type="tns:WsEndDeviceVersionReport"/>
    <xs:complexType name="WsFmCommissionCodeReport">
        <xs:sequence>
            <xs:element minOccurs="0" name="ConfirmationCode" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="MsgReceivedTimeSecs" type="xs:unsignedInt"/>
            <xs:element minOccurs="0" name="SrcMacAddr" nillable="true" type="xs:base64Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="WsFmCommissionCodeReport" nillable="true" type="tns:WsFmCommissionCodeReport"/>
</xs:schema>